body {
  padding: 50px 0 50px 0;
  color: #4A473A;
  background-color: #C1BEB3;
}

a {
  color: #E9716D;
}

.navbar {
  background-color: #4A473A;
  color: #E9716D;
  border: none;
}


.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #F0ECE1;
}


.jumbotron {
  background-color: #F0ECE1;
}

.sudoku {
  border-radius: 5px;
  border: #4A473A solid 2px;
  background-color: #4A473A;
  padding: 5px;
}

.sudoku-board {
  border: #4A473A solid 3px;
  background-color: #4A473A;
}

.sudoku-region {
  border: red solid 1px;
}

.sudoku-cell {
  color: #4A473A;
  border: white solid 1px;
  width: 50px;
  height: 50px;
  font-size: 2.25em;
  text-align: center;
  background-color: #F0ECE1;
  border-radius: 5px;
}

.val-0 {
  color: #F0ECE1;
  background-color: #E9716D;
}

.row-3 > .sudoku-cell,
.row-6 > .sudoku-cell {
  border-bottom: #4A473A solid 3px;
}


.cell-3, .cell-6 {
  border-right: #4A473A solid 3px;
}
