{% extends "base.html" %}
{% load staticfiles %}
{% load webdesign %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron" align="middle">
  <h1 align="middle">
    About this Sudoku Solver
  </h1>
  <p>
    This is a simple text-based <a href="http://www.sudoku.name/rules/en">Sudoku</a> solver, written in Python 2.7.6. This project was developed for the Insight Data Engineering Fellows Program application for the January 2015 session.
    <br>
    This also presented a great opportunity to learn a new technology. After first implementing the Sudoku Solver in Python, I went on create a web app out of it using the <a href="http://www.djangoproject.com">Django</a> framework. I must say, it was a fun learning experience.
  </p>
  <h1 align="middle">
    About the Developer
  </h1>
  <p>
    Hello, my name is <a href="http://www.jcano.me">Justin Cano</a> and I am an aspiring Software Engineer and Developer. Follow me on <a href="http://www.github.com/hyperbit">GitHub</a> or just <a href="mailto:jcano001@ucr.edu">say hi</a>.
  </p>
</div>


{% endblock content %}
