{% extends "base.html" %}

{% block content %}



{% if board and board != -1 %}
<div class="row">
  <div class="col-md-12">


    <div class="sudoku-board col-md-6">
      {% for row in board %}
        <div class="row row-{{ forloop.counter }}">
          {% for i in row %}
            <div class="sudoku-cell col-md-4 cell-{{ forloop.counter }} val-{{ i }}">
              {{ i }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>


    <div class="sudoku-board col-md-6">
      {% for row in solution %}
        <div class="row row-{{ forloop.counter }}">
          {% for i in row %}
            <div class="sudoku-cell col-md-4 cell-{{ forloop.counter }} val-{{ i }}">
              {{ i }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>



  </div>
</div>
{% endif %}




<div class="col-md-3">
  {% if solution and solution != -1 %}
    {% for key, value in solution %}
      {{ board.key }}
      <br>
    {% endfor %}
  {% endif %}
</div>


{% endblock content %}
